<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Senior DevOps Engineer working at CloudCover, having 3.5 years of overall experience in this field. I have achived all 5 AWS Certifications <br/><br/>
			I enjoy automating stuff to simplify my work - And my quote is "if you automate the mess, you get an automated mess"
		</div>
		<br>
	</div>
</div>
