<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			An extremely motivated and proficient individual with overall 3+ years of experience in DevOps in IT industry have achived all 5 AWS Certifications <br/><br/>
			Possess all the skills to setup an enterprise infrastructure on Public Clouds like AWS, Azure and GCP. Have got an experience of working on a huge infrastructure at an enterprise level and also with the smaller teams.
			I enjoy automating stuff to simplify my work - And my quote is "if you automate the mess, you get an automated mess"
		</div>
		<br>
	</div>
</div>


teams.
